<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>
    <div class="text-center mt-2">
        
  <img src="/static/assets/logo.jpeg">   
    </div>
    <div class="main text-center mb-5 mt-1">
        <h1 style="color: rgb(216, 210, 221);" class="mb-5">Rain Buddy</h1>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="container col-md-4 text-center border white border-primary  p-4 m-2">
            <form>
                <div class="mb-3">
                    <label for="country" class="form-label">Select a country:</label>
                    <select id="country" name="country" class="form-select">
                        <option value="usa">United States</option>
                        <option value="canada">Canada</option>
                        <option value="uk">United Kingdom</option>
                        <option value="ghana">Ghana</option>
                        <option value="nigeria">Nigeria</option>
                        <!-- Add more options for other countries -->
                    </select>
                </div>
                <div class="mb-3">
                    <label for="weather" class="form-label">Select weather:</label>
                    <select id="weather" name="weather" class="form-select">
                        <option value="rain">Rain</option>
                        <option value="humidity">Humidity</option>
                       
                        <!-- Add more options for other weather conditions -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body></html>